:root {
  --bg-header-color: #e8e8e8;
  --bg-card-color: #f4f4f2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url("../assets/bg.png") center/cover no-repeat;
  min-height: 100vh;
  margin-top: 85px;
}

a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

header {
  position: fixed;
  top: 0;
  background-color: var(--bg-header-color);
  height: 90px;
  display: flex;
  flex-direction: row;
  width: 100%;
  z-index: 1000;
}

header h1 {
  font-size: 30px;
  font-weight: bold;
  margin-left: 30px;
}

header span {
  color: green;
}

.header-menu span {
  padding: 10px;
  font-weight: 600;
}

.header-box img {
  width: 100%;
  height: 400px;
  display: block;
}

.header-box_title {
  position: absolute;
  top: 50%;
  left: 62%;
  transform: translate(-50%, -50%);
  text-align: left;
  width: 100%;
}

#toprate>a,
#popular>a {
  height: 100%;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.header-box_title h1 {
  color: white;
  font-size: 50px;
  font-weight: bold;
  margin: -250px 0 0;
  animation: fadeInDown 1s ease-out;
}

footer {
  text-align: center;
  color: slategrey;
  margin: 30px 30px;
}

#search-form {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: center;
}

#search-form input {
  align-items: center;
  width: 70%;
  height: 40px;
  border-radius: 10px;
  border: 1px solid green;
  text-indent: 50px;
}

#search-form button {
  width: 50px;
  height: 30px;
  border-radius: 10px;
  transform: translateX(-60px);
  border: 1px solid gray;
}

#menu-button {
  color: green;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
}

.header-menu {
  display: flex;
  flex-direction: row;
}

.header-menu>button {
  justify-content: flex-end;
  color: green;
  margin-right: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-color: var(--bg-header-color);
}

.header-sort {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.btn-hover {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-5 {
  background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}

.btn-hover.color-6 {
  background-image: linear-gradient(to right, #009245, #fcee21, #00a8c5, #d9e021);
  box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}

.header-sort button {
  margin-right: 15px;
  text-align: center;
}

#search-input::placeholder {
  text-align: center;
}

#search-btn:hover {
  background-color: rgb(30, 158, 30);
}

#card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  list-style: none;
  padding-top: 25px;
}

.movie-card {
  /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.24); */
  margin: 10px;
  padding: 30px;
  width: 300px;
  justify-self: center;
  /* background-color: var(--bg-card-color); */
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  transition: transform 100ms ease-in;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movie-card:hover {
  transform: scale(1.3);
  z-index: 2;
}

.movie-card img {
  width: 120%;
  border-radius: 10px;
}

.movie-card .movie-title {
  margin-bottom: 10px;
}

.movie-title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding: 5px;
  margin-top: 5px;
}

.overview {
  margin-bottom: 20px;
  line-height: 1.1;
}



/* detail page design */
#details-container {
  padding-top: 75px;
}

.movie-detail-container {
  width: 65%;
  height: 30%;
  margin: 20px auto 20px auto;
  display: flex;
  align-items: center;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0.2, 0.2, 0.2);
}

.movie-img {
  border-radius: 8px;
  margin-right: 20px;
}

.movie-title {
  font-size: 24px;
  text-align: left;
  margin-bottom: 10px;
}

.movie-ratings {
  display: flex;
  flex-direction: row;
}

.movie-rate {
  margin-right: 10px;
}

.movie-detail {
  margin-top: 10px;
  color: #666;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

}

/* 정렬 button style */


.btn-hover {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-5 {
  background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}

.btn-hover.color-6 {
  background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
  box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}

.header-sort button {
  margin-right: 15px;
  text-align: center;
}

.fixed {
  position: fixed;
  top: 90px;
  margin: auto;
  left: 700px;
  z-index: 9;
}

.hidden {
  display: none;
}

/* localStorage */

h2 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 50px 0;
}

#inputForm,
#commentList {
  width: 65%;
  height: 270px;
  margin: auto;
}

#inputForm {
  background-color: #79BCA4;
  /* #5dc19b , #16aa52, #D7DE84 */
  padding: 20px;
  position: relative;
}

#inputForm input,
#inputForm #reviewInput {
  outline: 1px solid lightgray;
  width: 15%;
  height: 40px;
  background-color: white;
  border-radius: 5px;
  text-align: left;
  margin-right: 10px;
  border: 0;
  font-size: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

#inputForm #reviewInput {
  width: 100%;
  height: 100px;
  padding: 15px;
  margin-bottom: 25px;
}

#inputForm button {
  width: 15%;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  float: right;
  background-color: #16aa52;
  color: white;
}


#commentList p {
  width: 100%;
  height: auto;
  margin-top: 30px;
  font-weight: bold;
  font-size: 25px;
}

#commentList p+p {
  outline: 1px solid lightgray;
  height: 100px;
  background-color: white;
  border-radius: 5px;
  text-align: left;
  margin-right: 10px;
  border: 0;
  font-size: 15px;
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

#commentList button {
  width: 5%;
  height: 40px;
  float: right;
  margin-left: 20px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}

#commentList input {
  height: 40px;
  float: right;
}